<h1><%= @route.name %> - <%= @route.location %></h1>
<hr />
<br>
<div>Climbing Style: <%= @route.style %></div>
<div>Grade: <%= @route.grade %></div>
<div>Star Rating (out of 5): <%= @route.stars %></div>
<div>Number of Pitches: <%= @route.pitches %></div>
<div>Created by: <%= @route.user.username%></div>
<br>
<% if @route.user_id == current_user.id %>
  <%= link_to "Edit Route", edit_route_path(@route) %>
  <%= link_to "Delete Route", route_path(@route), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>
  <%= link_to "Back to Route List", routes_path%>
<% else %>
  <%= link_to "Back to Route List", routes_path%>
<% end %>
<br>
<br>
<hr />
<section class="reviews">

  <div>
    <h3>
      <%= @route.reviews.count %> Reviews
    </h3>
 
    <% @route.reviews.each do |review| %> 
      <%= review.stars %> Stars - Date: <%= review.date %> - Time of Day: <%= review.time %>
      <br>
      <%= review.experience %>
      <br>
      <div>Recommended?
        <% if review.recommended == true %>
          Yes
        <% else %>
          No 
        <% end %>
      </div>
      <p>Reviewed by: <%= review.user.username %></p> 
      <div>---------------------------------------------------------------------</div>
    <% end %>

    <div class="review-form">
      <h3>Leave a Review</h3>
      <%= render partial: 'reviews/form' %>
    </div>
  </div>

</section>