
<%= render partial: 'layouts/errors', locals: {object: @review}  %>
<div>
  <%= form_with model: @review do |f| %>
  <div>
      <%= f.label("Date: ") %>
      <%= f.date_field :date %>
  </div>
  <br>
  <div> 
    <div>
      <%= f.label("Time: ") %>
      <%= f.radio_button(:time, "Morning") %>
      <%= f.label(:morning, "Morning") %>
      <%= f.radio_button(:time, "Afternoon") %>
      <%= f.label(:afternoon, "Afternoon") %>
      <%= f.radio_button(:time, "Evening") %>
      <%= f.label(:evening, "Evening") %>
      <%= f.radio_button(:time, "Night") %>
      <%= f.label(:night, "Night") %>
    </div>
  </div>
<br>
  <div>
    <%= f.label("Star Rating (out of 5): ") %>
    <%= f.number_field(:stars, in: 0.0..5.0) %>
  </div>
<br>
  <div>
    <%= f.label("Experience: ") %>
    <%= f.text_area :experience, cols: "90", rows: "6"  %>
  </div>
<br>
  <div>
    <%= f.label("Would you recommend this climb? ") %>
      <%= f.radio_button(:recommended, "Yes") %>
      <%= f.label(:yes, "Yes") %>
      <%= f.radio_button(:recommended, "No") %>
      <%= f.label(:no, "No") %>
  </div>
  <br>
  <%= f.hidden_field :route_id, value: @route.id %>
  <div>
    <%= f.submit %>
  </div>
  
  <%end %>
</div>