<!DOCTYPE html>
<html>
  <head>
    <title>Pnwclimbingproject2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

  </head>

  <nav>
    <% unless logged_in? %>
      <%= link_to "Home", welcome_path %>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Login", login_path %>
    <% else %>
      <%= link_to "Home", user_path(current_user) %>
      <%= link_to "Routes List", routes_path %>
      <%= link_to "Create a New Route", new_route_path %>
      <%= link_to "All Reviews", reviews_path %>
      <%= link_to "Logout", logout_path, method: :delete %>
    <% end  %>
  </nav>
  
  <body>
    <%= yield %>
  </body>
</html>
